* {
  margin: 0;
  padding: 0;
  outline: none;
  appearance: none;
  user-select: none;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
html {
  font-family: 'jetbrains_mono', monospace;
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  background: $background;
  background-color: $backgroundStart;
  background-attachment: fixed;
}
body {
  -webkit-tap-highlight-color: transparent;
}
::selection {
  color: $dark;
  background: $grey
}
